@page "/"
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <div class="d-inline-block align-top text-white mr-2">
        <i class="tf tf-icon"></i>
    </div>
    Trck.Fit
  </a>
  <span class="font-italic font-weight-lighter text-white">
      Not signed in
  </span>
</nav>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Early Preview!</h4>
  <p class="mb-0"> 
      This service is in a very early preview state. You can contribute to the project on
      <a href="#" class="alert-link">        
          <i class="fa fa-github"></i>
          GitHub
      </a>.
    </p>
</div>
<main class="container mt-3">
    <h1 class="display-1 logo">
        <i class="tf tf-icon mr-2"></i>
        Trck.Fit
    </h1>
    <p class="lead">
        Welcome to your new app.
    </p>
</main>